@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

header,
main {
  margin: 0 20px;
}

.logo {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

header img {
  width: 131px;
  height: 65px;
  left: 24px;
  top: 32px;
  margin-left: 0rem;
  object-fit: contain;
}

.yearReview {
  background: #f3f3f3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  height: 118px;
}

#yearReviewImg {
  width: 200px;
  height: 100px;
  object-fit: cover;
  padding: 1rem;
}

#reviewPie {
  width: 159.37px;
  height: auto;
}

main {
  margin-top: 2rem;
}

.intro h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  padding-bottom: 1rem;
}

.intro p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.intro span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.activityIntro p {
  padding-top: 0.5rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  text-align: justify;
}

.activitySection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.transactionWorth {
  margin-top: 0.5rem;
  height: 200px;
  padding: 24px 16px 0 0;
  background: linear-gradient(45deg, #ac0606 55%, rgba(222, 52, 52, 0.4) 96%);
  border-radius: 8px;
}

.transactionText {
  color: white;
  position: absolute;
  left: 40px;
  font-family: "Inter", sans-serif;
  text-align: justify;
}

p.numberOfTransactions {
  font-size: 40px;
  font-weight: 500;
  padding: 16px 0;
}

p.transactionsAmount {
  font-size: 24px;
  font-weight: 700;
  padding: 24px 0;
}

.creditDebitTransactions {
  background: black;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  margin-top: -1.5rem;
  height: auto;
}

.creditTransactions p {
  color: #1fad08;
  font-family: "Inter", sans-serif;
  text-align: justify;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
}

p.creditAmount {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  padding-bottom: 16px;
}

.debitTransactions p {
  color: #d84e4e;
  font-family: "Inter", sans-serif;
  text-align: justify;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-top: 24px;
}

.channelsBreakdown {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* from span to div styling */
.transactionChannels {
  border: 1px solid #d84e4e;
  border-radius: 0.2em;
  width: 45%;
  margin: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: .2rem; */
  /* height: 5rem; */
}

p.debitAmount {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  padding-bottom: 16px;
}

.channelSection {
  background: #f9f9f9;
  border-radius: 8px;
  margin-top: 2rem;
}

.channelsIntro {
  font-size: 12px;
  text-align: justify;
  padding: 2rem 1rem;
  font-weight: 500;
  margin-bottom: -0.5rem;
  line-height: 14.52px;
}

/* .channelsBreakdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
} */

/* .usedChannels {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
} */

/* .usedChannels span {
  margin-top: -0.25rem;
  border: 1px solid #d71920;
  display: inline-block;
  padding: 0 1rem;
  border-radius: 8px;
} */

.atmTransaction,
.oneBankTransaction,
.ussdTransaction,
.onePayTransaction,
.webTransaction,
.posTransaction {
  font-weight: 700;
}
/* 
.atm, .oneBank, .ussd, .onePay, .web, .pos {
    font-style: italic;
    display: flex;
    justify-content: space-between;
} */

.atm,
.oneBank,
.ussd,
.onePay,
.web,
.pos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* border: 2px solid green; */
  margin: 0;
  padding-left: 0.5rem;
  color: #d71920;
  /* position: relative; */
  /* height: 40%; */
}

.atm p,
.oneBank p,
.ussd p,
.onePay p,
.web p,
.pos p {
  /* display: inline-block; */
  font-style: italic;
  /* border: 2px solid green; */
  margin: 0;
}

.channelsBreakdown img {
  width: 30px;
  height: 15px;
  object-fit: contain;
}

/* 
.atm img {
  width: 20px;
  height: 15.21px;
}

.web img {
  width: 11px;
  height: 12px;
}

.pos img {
  width: 20px;
  height: 15px;
}

.onePay img {
  width: 10px;
  height: 9.38px;
}

.oneBank img {
  width: 10px;
  height: 6px;
}

.ussd img {
  width: 14px;
  height: 12px;
} */

.mostUsedChannel {
  text-align: center;
  height: max-content;
  background: #333333;
  border-radius: 10px;
  padding: 16px;
  margin: 40px 50px;
}

.mostUsedChannel h2 {
  color: #f2f2f2;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: "Lato", sans-serif;
  padding: 1rem;
}

.mostUsedChannel div {
  background: white;
  border-radius: 10px;
  height: 200px;
}

.mostUsedChannel p {
  font-size: 32px;
  font-weight: 700;
  color: #ac0606;
  padding: 25% 0;
}

.mostUsedChannel span {
  color: #939598;
}

.activityDetails {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 3rem;
}

.mostActiveMonth {
  display: flex;
  justify-content: space-between;
  background-color: #fef7f7;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.calendar {
  background: url(../images/activemonthimg.png);
  background-repeat: no-repeat;
  width: auto;
  height: 88px;
  background-size: contain;
  padding: 1.5rem;
  margin: 1rem;
}

.calendar p {
  margin: 50% 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.mostActiveMonthtext {
  padding: 1.2rem 0.5rem;
}

.mostActiveMonthtext h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #e86161;
}

.mostActiveMonthtext p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  padding-top: 1.5rem;
}

.incurredAtmCharges {
  background: #000000;
  border-radius: 8px;
  padding: 2rem 1rem 0;
}

.incurredAtmCharges h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding-right: 5rem;
}

.incurredAtmCharges span {
  font-weight: 700;
  font-size: 20px;
}

.incurredAtmCharges p {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  padding-top: 8px;
}

.incurredAtmCharges a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #efbd10;
  padding-top: 7px;
}

.incurredAtmCharges div {
  display: flex;
  justify-content: flex-end;
}

.incurredAtmCharges img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.beneficiaries {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 2rem;
  background: #eff7fc;
  border-radius: 8px;
  height: auto;
  padding: 24px 16px;
}

.beneficiaries h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 0rem;
  padding: 16px 0;
}

.beneficiaries p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding: 8px 0;
}

.nairaMatters {
  margin-top: 2rem;
}

.nairaMatters h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}

.nairaMatters p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: justify;
  padding: 8px 0;
}

.investment {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.investment img {
  width: 101px;
  height: 100px;
  object-fit: cover;
  padding: 0 0.5rem;
}

.i-invest h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin: 0.5rem;
}

.i-invest span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #551863;
}

.i-invest p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  text-align: right;
  margin: 0.5rem;
  padding: 0;
}

.i-invest a {
  color: #551863;
}

#investmentPortfolio {
  margin-top: 1rem;
}

.visaCreditCard {
  margin-top: 2rem;
  height: auto;
  background: #faf6ea;
  border-radius: 8px;
  padding: 32px 0px 0 0;
  display: flex;
  flex-direction: column;
}

.visaCreditCard h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bf8f11;
  padding: 0 1rem;
  margin-bottom: 1rem;
  padding: 0 16px;
}

.visaCreditCard span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.visaCreditCard p {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #333333;
  padding: 0 1rem;
  margin-top: 0;
}

.visaCreditCard a {
  color: #bf8f11;
}

.visaCardImg {
  display: flex;
  justify-content: flex-end;
}

.visaCardImg img {
  width: 110px;
  height: 95.67px;
  object-fit: cover;
}

.smeBanking {
  background: #f6f6f6;
  border-radius: 8px;
  margin-top: 2rem;
  height: auto;
  padding: 24px 0 0 0;
  display: flex;
  flex-direction: column;
}

.smeBanking h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding: 0 1rem;
  margin-bottom: 1.25rem;
}

.smeBanking span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

#personalizedApproach {
  margin-top: -1rem;
}

.smeBanking p {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  padding: 0 1rem;
  margin-top: 0;
}

.smeBanking a {
  color: #db3539;
}

.smeBankingImg img {
  width: 67px;
  height: 67px;
  object-fit: cover;
  margin-top: -1rem;
}

.smeBankingImg {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.doubble {
  padding: 24px 16px;
  background: #f5fbff;
  border-radius: 8px;
  margin-top: 2rem;
}

.doubble h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #333333;
  margin: 0;
}

.doubble span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #035387;
}

.doubbleFindOut {
  padding-top: 16px;
}

.doubbleImg p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  color: #333333;
}

.doubbleImg a {
  color: #0468a9;
  padding-right: 0.25rem;
}

.doubbleImg {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.doubbleImg img {
  width: 81px;
  height: 18px;
  margin-top: 1.5rem;
}

.productChannels {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 0 2rem;
}

.spectaImg {
  width: 75px;
  height: 48px;
  object-fit: cover;
}

.oneImg {
  width: 76px;
  height: 48px;
  object-fit: cover;
}

.altMallImg {
  width: 76px;
  height: 48px;
  object-fit: cover;
}

.treImg {
  width: 75px;
  height: 16px;
}

.sterlingImg {
  width: 75px;
  height: 23px;
}

.cafeOneImg {
  width: 65px;
  height: 43px;
}

.footerdiv {
  margin: 2rem 0;
  padding: 2rem;
  background: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.footerdiv h5 {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #333333;
}

footer {
  background: #242424;
  padding-bottom: 2rem;
  margin: 0 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.customerCenter {
  display: flex;
  padding-top: 29px;
}

.customerCenterdiv {
  padding: 0 0.5rem;
}

.customerCenter img {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

.customerCenter h6 {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.customerCenter p {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.customerCenterContact {
  display: flex;
  justify-content: space-between;
  margin: 0 0rem;
}

.contactNumber {
  padding: 0.5rem 1rem;
}

.customerCenterContact p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  margin: 0;
}

.customerCenterContact a {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #9b0005;
}

.socialLinks {
  display: flex;
  justify-content: center;
}

.linkedlnImg {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.youtubeImg {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.twitterImg {
  width: 24px;
  height: 24px;
}

.facebookImg {
  width: 24px;
  height: 24px;
}

.instagramImg {
  width: 21px;
  height: 24px;
}

.hidden-text,
#visaCardLarge,
.getStartedLarge,
.socialLinksTop {
  display: none;
}

/* Media queries screen scale used*/

/* 
For Mobile devices: 320px-480px
For Tablets or iPad: 480px - 768px
For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
For Extra-large size device: 1200px and more
*/
/* iphone 13 mini */
@media only screen and (min-width: 375px) and (max-width: 376px) {
  .transactionChannels {
    border: 1px solid #d84e4e;
    border-radius: 0.2em;
    width: 45%;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: .2rem; */
    /* height: 5rem; */
  }

  .transactionChannels img {
    visibility: hidden;
  }

  .atm,
  .oneBank,
  .ussd,
  .onePay,
  .web,
  .pos {
    color: white;
  }

  #atmTransactions {
    background: #b90006;
    border-radius: 5px;
  }

  #oneBankTransactions {
    background: #d84e4e;
    border-radius: 5px;
  }

  #ussdTransactions {
    background: #c7161c;
    border-radius: 5px;
  }

  #onePayTransactions {
    background: #fba9ac;
    border-radius: 5px;
  }

  #webTransactions {
    background: #6c0003;
    border-radius: 5px;
  }

  #posTransactions {
    background: #e76266;
    border-radius: 5px;
  }

  .mostUsedChannel {
    text-align: center;
    height: max-content;
    background: #333333;
    border-radius: 10px;
    padding: 16px;
    margin: 40px 30px;
  }

  .hidden-text {
    display: none;
  }
}

/* Galazy fold */
@media only screen and (min-width: 280px) and (max-width: 320px) {
  .container {
    width: 100vw;
  }

  .intro p {
    font-size: 13px;
  }

  .activityIntro p {
    font-size: 12px;
  }

  .intro span {
    font-size: 15px;
  }

  .transactionWorth {
    width: auto;
  }

  .channelsBreakdown {
    font-size: 10px;
  }

  .channelsBreakdown img {
    width: 15px;
  }

  p.transactionsAmount {
    font-size: 19px;
    font-weight: 700;
    padding: 24px 0;
  }

  p.creditAmount {
    color: white;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    padding-bottom: 16px;
  }

  p.debitAmount {
    color: white;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    padding-bottom: 16px;
  }

  .mostUsedChannel {
    text-align: center;
    height: max-content;
    background: #333333;
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
  }

  .mostActiveMonthtext {
    padding: 1.2rem 0;
  }

  .mostActiveMonth {
    padding: 0 8px;
  }

  .calendar {
    padding: 1rem;
    margin: 0.7rem;
  }

  .incurredAtmCharges {
    padding: 2rem 1rem 0;
  }

  .incurredAtmCharges h4 {
    padding-right: 0;
  }

  .i-invest p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    text-align: justify;
    margin: 0;
    padding: 0;
  }

  .i-invest h5 {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
    margin: 0;
  }

  .doubbleImg p {
    font-size: 10px;
  }

  .doubble h5 {
    font-weight: 600;
    font-size: 10px;
  }

  .doubble span {
    font-size: 15px;
  }

  .smeBanking h5 {
    font-weight: 400;
    font-size: 12px;
  }

  .smeBanking span {
    font-size: 15px;
  }

  .productChannels {
    margin: 2rem 0;
    padding: 0 0rem;
  }

  .customerCenterContact {
    margin: 1rem 0;
  }

  .customerCenterContact p {
    font-size: 10px;
    line-height: 20px;
  }

  .customerCenterContact a {
    font-size: 10px;
  }

  .customerCenterdiv {
    padding: 0;
  }

  .contactNumber {
    padding: 0;
  }

  .footerdiv {
    padding: 2rem 1rem;
  }

  .hidden-text {
    display: none;
  }
}

/* For Tablets or iPad screen to Large screens*/
@media only screen and (min-width: 768px) {
  .yearReview #yearReviewImg {
    width: 30rem;
    height: 20rem;
    /* object-fit: cover; */
    /* border: 2px solid green; */
    padding: 4rem 0 0 0;
  }

  .yearReview {
    height: 11rem;
    align-items: center;
  }

  .activitySection {
    display: flex;
    /* border: 2px solid green; */
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
  }

  .transactionWorth {
    /* border: 2px solid green; */
    margin: 0;
    width: 100%;
    height: 15rem;
    border-radius: 0.2rem 0 0 0.2rem;
  }

  .transactionText {
    /* color: #000000; */
  }

  .hidden-text {
    display: inherit;
    font-size: 0.8rem;
  }

  .hidden-text a {
    color: white;
  }

  .creditDebitTransactions {
    border-radius: 2rem 0.2rem 0.2rem 2rem;
    margin: 0;
    z-index: 3;
    margin-left: -2rem;
  }

  .channelsWrap {
    /* border: 2px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;
  }

  .channelsIntro {
    /* text-align: start; */
    /* border: 2px solid green;  */
    /* margin-left: 1rem; */
  }

  .channelsBreakdown {
    margin: 0 0 0 1rem;
    padding: 0;
    /* border: 2px solid green; */
    width: 60%;
  }

  .atmTransaction,
  .oneBankTransaction,
  .ussdTransaction,
  .onePayTransaction,
  .webTransaction,
  .posTransaction {
    font-weight: 700;
    font-size: 0.8rem;
  }

  .transactionChannels {
    width: 30%;
    height: 4rem;
  }

  .mostUsedChannel h2 {
    font-size: 0.7rem;
    width: 100%;
    line-height: 12px;
    padding: 0;
    text-align: center;
    padding-bottom: 0.2rem;
  }

  .mostUsedChannel p {
    font-size: 1rem;
  }

  .mostUsedChannel {
    width: 100%;
    /* border: 2px solid green; */
    margin: 0 0 0 2rem;
    border-radius: 0.2rem;
    height: auto;
  }

  .mostUsedChannel div {
    height: 100%;
    border-radius: 0.2rem;
  }

  .activityDetails {
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid green; */
  }

  .mostActiveMonth {
    /* border: 2px solid green; */
    height: auto;
    margin: 0 1rem 0 0;
  }

  .beneficiaries {
    flex-direction: row;
    justify-content: space-between;
  }

  .investment {
    font-size: 1rem;
    width: 100%;
    /* border: 2px solid green; */
    justify-content: space-between;
    align-items: center;
  }

  .investment img {
    width: 15rem;
    height: 17rem;
    object-fit: contain;
  }

  .i-invest {
    /* border: 2px solid green; */
    /* width: 70%; */
    /* text-align: justify; */
  }

  .visaCreditCard div h5,
  .smeBanking div h5,
  .doubble div h5 {
    font-size: 1.2rem;
    /* border: 2px solid green; */
    width: 85%;
    line-height: 32px;
  }

  .visaCreditCard {
    /* border: 2px solid green; */
    flex-direction: row;
  }

  .visaCardImg {
    /* border: 2px solid green; */
    justify-content: flex-end;
    padding: 0;
    /* align-items: flex-start; */
  }

  #visaCardSmall,
  #getStartedSmall {
    display: none;
  }

  #visaCardLarge,
  .smeBankingImg img,
  .doubbleImg img {
    width: 15rem;
    height: 10rem;
    object-fit: contain;
    padding: 0;
    display: inline;
    /* border: 2px solid green; */
  }

  .smeBankingImg img {
    margin-top: -6rem;
  }

  .doubbleImg img {
    margin-top: -1rem;
    padding: 0;
    margin-bottom: 0;
    /* border: 2px solid green; */
    width: 10rem;
    height: 5rem;
  }

  .smeBanking {
    /* flex-direction: row; */
  }

  .smeBankingImg {
    /* flex-direction: row; */
  }

  .doubble div h5 {
    width: 70%;
    line-height: 40px;
    /* border: 2px solid green; */
  }

  .getStartedLarge {
    display: inline;
  }

  .doubbleFindOut p {
    /* border: 2px solid green; */
    align-items: center;
  }

  .doubbleImg {
    padding-bottom: 0;
  }

  .doubbleFindOut span {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
  }

  .productChannels {
    width: 70%;
    /* border: 2px solid green; */
    margin: auto;
    padding: 1rem 0;
  }

  .customerCenterdiv p,
  .contactNumber {
    color: gray;
  }

  .contact {
    display: flex;
  }

  .socialLinksTop {
    display: flex;
    /* border: 2px solid green; */
    justify-content: center;
  }

  .socialLinksTop img {
    margin-left: 0.5rem;
  }

  .socialLinksGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 0 5rem;
    /* border: 2px solid green; */
  }

  .socialLinks {
    justify-content: space-around;
    display: flex;
    /* border: 2px solid green; */
    align-items: center;
    margin-left: 0.2rem;
  }

  .socialLinksGroup img {
    margin-left: 0.5rem;
  }
}

/* For Desktop or large-size screen */
@media only screen and (min-width: 1024px) {
  .creditDebitTransactions {
    /* margin-left: -10rem; */
    width: 80%;
  }

  .mostUsedChannel {
    margin-left: 80%;
    height: 8rem;
  }

  .mostUsedChannel div {
    height: 90%;
  }

  .mostUsedChannel div p {
    font-size: 1.5rem;
  }

  .nairaMatters p {
    font-size: 1.2rem;
    line-height: 32px;
  }

  .i-invest h5 {
    font-size: 1.4rem;
  }

  .visaCreditCard div h5,
  .smeBanking div h5,
  .doubble div h5 {
    font-size: 1.5rem;
    /* border: 2px solid green; */
    width: 100%;
    line-height: 40px;
  }

  #visaCardLarge,
  .smeBankingImg img {
    width: 20rem;
    height: 15rem;
    object-fit: contain;
  }

  .productChannels img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
  }
}

/* For Desktop or larger screen */
@media only screen and (min-width: 1440px) {
  .transactionChannels {
    height: 7rem;
    /* width: 35%; */
  }

  .mostUsedChannel {
    width: 20rem;
    margin: 0 0 0 3rem;
    height: 100%;
  }

  .mostUsedChannel h2 {
    font-size: 2rem;
    padding: 2rem 0;
  }

  .mostUsedChannel div p {
    font-size: 2.5rem;
  }

  .channelsIntro,
  .intro h1,
  .intro p,
  .activityIntro p,
  .mostActiveMonth h4,
  .incurredAtmCharges h4,
  .mostActiveMonth p,
  .incurredAtmCharges p,
  .calendar p,
  .beneficiaries h5,
  .beneficiaries p,
  .visaCreditCard div p,
  .smeBankingImg p,
  .doubbleFindOut p {
    font-size: 1.2rem;
    line-height: 32px;
  }

  .atmTransaction,
  .oneBankTransaction,
  .ussdTransaction,
  .onePayTransaction,
  .webTransaction,
  .posTransaction {
    font-size: 1.2rem;
  }

  .channelsBreakdown img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }

  .activityDetails {
    /* border: 2px solid green; */
    /* justify-content: space-between; */
  }

  .mostActiveMonth,
  .incurredAtmCharges {
    margin: 0;
    width: 47%;
    height: auto;
    padding: 2rem 1rem;
  }

  .incurredAtmCharges div img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }

  .mostActiveMonth {
    justify-content: center;
  }

  .investment div img{
    width: 25rem;
    height: 25rem;
    object-fit: contain;
  }

  .doubble div h5{
    width: 70%;
  }

  .visaCardImg img{
    margin-left: 20rem;
  }
}
